html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Comic Relief", sans-serif;
}

#d-video { display: block; }
#m-video { display: none; }

#d-video, #m-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container {
    position: relative;
    z-index: 1;
    color: white;
    font-family: "Comic Relief", sans-serif;
    padding: 20px;
}

.d{ display: block; }
.m{ display: none; }

@media (max-width: 1080px) {
    #m-video { display: block; }
    #d-video { display: none; }
    .d{ display: none; }
    .m{ display: block; }
}

.con{
    height: 80vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.wrap{
    height: 80vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.contain{
    height: 90vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wp{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a{
    text-decoration: none;
    color: aliceblue;
    padding: 40px 70px;
    font-size: xx-large;
    text-align: center;
    display: inline-flex;
    align-items: center;
    transition: 0.3s;
    width: 29%;
}

a:hover{
    background-color: antiquewhite;
    color: black;
    width: 29%;
}

.voice-btn i{
    font-size: 1em;
    margin-left: auto;
}

.wd{
    height: 80px;
    width: 280px;
    border: 1px solid aliceblue;
    display: flex;
    
    justify-content: flex-start;
}

.sp{
    justify-self: center;
    align-self: center;
    text-align: center;
}

.wd i{
   user-select: none;
   font-size: x-large;
   position: relative;
   top: 35%;
}

#ef{
    width: 28%;

}

#ed{
    left: 5%;
  
}

.back{
    justify-self: flex-end;
}

.join{
    margin-top: 30%;
   
}

.wd-1{
    width: 100%;
}
